<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% if title %}
    <title>{{ title }} - Grypser</title>
  {% else %}
    <title>Grypser | Encrypted messages</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
 <a class="navbar-brand mx-auto" href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='img/grypser-white.png') }}" alt=""></a>

<!--        MOBILE MENU - not needed r n          -->

<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="collapse navbar-collapse" id="navbarResponsive">-->
<!--        <ul class="navbar-nav ml-auto">-->
<!--          <li class="nav-item active">-->
<!--            <a class="nav-link" href="{{ url_for('home') }}">Home-->
<!--              <span class="sr-only">(current)</span>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">O nas</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

      </div>
    </div>
  </div>
  {% block content %}

  {% endblock %}


  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script>copyrightDate();</script>
  <footer>
  <p class='text-center'>Grypser ver. 1 beta by <a href="https://jeremiaszgoti.com">Jeremiasz Goti</a> 2020</p>
      <div id="year">

      </div>
  </footer>

</body>

</html>
