{% extends "base.html" %}
{% block content %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 text-center mt-5">
      </div>
    </div>
  </div>

  <div class="container mb-5 mt-5">


        <div class="card">
          <div class="card-header text-center text-gryps"> {{ gryps_decode }} </div>
        </div>


      <div class="row">
       <div class="col-lg-12 text-center">
         <br>
          <h6> Adres twojego grypsa: </h6>
         <a href=" {{ request.url }} ">
            <div id="copy-gryps" class="mt-2">
            {{ request.url }}
          </div>
        </a>


      <div class="row">
        <div class="col-lg-12 mt-3">
          <button type="button" onclick="copyGryps()" class="btn btn-secondary">Kopiuj link</button>
        </div>
      <div class="col-lg-12 text-center zniszcz">
        <form method='POST' action="">
          {{ form.hidden_tag() }}

          {{ form.submit(class="btn btn-danger")}}
        </form>
      </div>

    </div>
        <br>
        <p class="stats-life"> Gryps utworzono: {{ gryps.gryps_creation }} </p>
        <p class="stats-life"> Gryps wygaśnie: {{ gryps.gryps_destroy }} </p>

    </div>
  </div>
  </div>
  <script src="{{ url_for('static', filename='copylink.js') }}"></script>
{% endblock %}