{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="mt-5">Daj Grypsa</h3>
        <p class="lead">Anonimowe wiadomości</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">

        <h6> Adres twojego grypsa:   </h6>

        <div class="card">
          <div class="card-header text-center"> {{ gryps.gryps_content }} </div>

        </div>
        <p> Gryps utworzono: {{ gryps.gryps_creation }} </p>
        <p> Gryps wygaśnie: {{ gryps.gryps_destroy }} </p>

    </div>
  </div>
    <div class="row">
      <div class="col-lg-12 text-center zniszcz">
        <form method='POST' action="">
          {{ form.hidden_tag() }}

        {{ form.submit(class="btn btn-outline-danger")}}
        </form>
      </div>

    </div>
  </div>
{% endblock %}