{% extends "base.html" %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-12 text-center mt-5">
        <p>[ No accounts. No login. No Memory. Encrypted front to end. ]</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <form method='POST' action="">
          {{ form.hidden_tag() }}
        <div class="form-group">
             {{ form.gryps(class="form-control", id="exampleFormControlTextarea1", rows="3", placeholder='Napisz Grypsa') }}
        </div>
        <div>

              {{ form.submit(class="btn btn-info") }}
        </div>
          </form>


      </div>
    </div>
  </div>
{% endblock %}
